.boton {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 5px 20px;
    border-width: 2px;
    font-size: 0.83rem;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    z-index: 1; 
    text-decoration: none;
}




.primario {
    background-color: #C2B8A3;
    border-color: #8c8473;
    color: #4f493d;
}

.primario:hover {
    background-color: #ADA085;
}


.cerrar {
    background-color: #cad1c7;
    border-color: #8c8473;
    color: #4f493d;
}

.cerrar:hover {
    background-color: #a39c8f78;
}