.boton {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 5px 20px;
    border-width: 2px;
    font-size: 0.83em;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    z-index: 1; 
    text-decoration: none;
    white-space: nowrap;
}




.primario {
    background-color: #C2B8A3;
    border-color: #8c8473;
    color: #4f493d;
}

.primario:hover {
    background-color: #ADA085;
}


.secundario {
    background-color: #cad1c7;
    border-color: #8c8473;
    color: #4f493d;
}

.secundario:hover {
    background-color: #a39c8f78;
}

.largo {
    padding: 5px 80px;
    background-color: #C2B8A3;
    border-color: #8c8473;
    color: #4f493d;
}

.largo:hover {
    background-color: #ADA085;
}