.carritoContainer{
    padding: 10px;
    margin: 10px
}

.productoEnCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px
}

.informacionProducto{
    justify-content: space-between;
    /* background-color: tomato; */
}
.cantidadProducto{
    justify-content: space-between;
    /* background-color: red; */
}

.cantidad{
    position: center;
    margin-right: 10px;
    padding: 5px;
    /* background-color: red; */
}