/* En tu archivo CSS del componente o un archivo global */

.carrusel-contenedor {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px 0; /* Espacio arriba y abajo del carrusel */
  margin: 0 auto;
}

.producto-tarjeta {
  width: 250px; /* O el ancho que desees para cada tarjeta */
  margin: 0 10px; /* Para dar espacio entre las tarjetas */
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 310px;
  overflow: hidden;
  justify-content: space-between;
}

.imagen-tarjeta {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.nombre-tarjeta {
  font-size: 1.2em;
  margin: 10px 0;
}

.precio-tarjeta {
  font-size: 1em;
  color: #666;
}