.carritoContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.productoEnCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
}

.accionesProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.informacionProducto #precio{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4f493d;
    font-weight: bold;
}

.informacionProducto h5 {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    color: #4f493d;
    font-size: 2em;
}

.cantidad{
    position: center;
    margin-right: 10px;
    padding: 5px;
}

.cantidadProducto {
    margin-bottom: 5px;
}

.totalContainer{
    text-align: center;
}

.totalContainer button{
    margin-left: 10px;
    margin-right: 10px;
}

.totalContainer #precioTotal{
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    color: #4f493d;
    font-style: italic;
    font-weight: 500;
}

#carritoVacio{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #4f493d;
}