.carrito i {
    font-size: 30px;
}


.texto {
    font-family: "Libre Baskerville", serif;
    color: #4f493d;
    cursor: pointer;
}


.secciones {
    font-family: Arial, Helvetica, sans-serif;
}

